<%- include('partials/head.ejs') %> <%- include('partials/navbar') %>
<div id="error-page">
	<h1 class="text-danger text-center">
		Sorry, nothing found for what you typed! <br />
		<b>http://localhost:3000<%= url %></b>
	</h1>
</div>

<%- include('partials/footer') %>
