<%- include('partials/head.ejs') %> <%- include('partials/navbar') %>

<h1>Welcome to home page</h1>
<p>
	Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat consequatur
	repellendus quia deleniti, recusandae perferendis tenetur eius assumenda
	impedit aspernatur vel nihil sint exercitationem, quos corrupti nemo
	distinctio. Beatae, perferendis?
</p>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga debitis sint
	alias cum doloremque nostrum odio nihil veritatis est exercitationem!
	Assumenda et veniam repellat harum provident illo possimus quam facere? Quas,
	officiis! Ducimus fuga nemo id assumenda quisquam. Similique consectetur fugit
	perspiciatis ipsum minus? Asperiores, quod earum inventore quasi modi unde quo
	incidunt doloremque fugiat illo, mollitia nemo alias voluptatem! Rerum facilis
	quidem veniam quis consectetur debitis est velit, et iure. Error ad quae
	iusto. In molestiae, corrupti nesciunt accusamus eum eos atque harum porro
	voluptas culpa alias pariatur voluptate? Ut quibusdam at fugit hic delectus
	reiciendis perspiciatis aperiam. Doloribus nam, cupiditate tenetur distinctio
	totam et saepe dignissimos dolorem quod, a ex, autem id corrupti suscipit
	similique voluptates vel ad? Repellendus ratione optio laborum iste maxime
	vero, explicabo consectetur? Minus et vel veritatis nostrum eum exercitationem
	hic. Unde optio dolore dicta vel ipsum incidunt mollitia, perferendis eveniet
	nostrum placeat minima. Commodi, dolorum magni facere, sapiente ullam iure
	assumenda atque sed, exercitationem beatae veniam debitis. Inventore animi
	debitis itaque accusantium aperiam culpa earum aliquam eligendi, fuga magnam,
	eveniet ipsam quod dignissimos! Optio, quisquam! Voluptas odio provident
	commodi iusto sapiente perspiciatis aliquam beatae excepturi fugit nemo
	voluptatem soluta illo, nostrum officiis aliquid maxime nulla suscipit
	voluptatum atque cupiditate voluptates? Ipsum, eos recusandae! Nobis veniam,
	doloribus odit earum voluptatibus eum eligendi, dignissimos molestiae porro
	assumenda cumque quod temporibus culpa quae dolorem officiis, nemo ducimus
	ipsum nam numquam quis vitae accusamus consequatur. Dolorem, explicabo?
	Impedit, nulla. Sint ad eligendi, iste nisi enim harum consequatur similique
	officia vitae iure repudiandae animi maiores sit dolor exercitationem pariatur
	temporibus, hic laudantium? Labore, earum. Adipisci ipsum possimus delectus.
	Provident rerum, quam nulla adipisci vel eligendi tempore quos quis deleniti,
	a minima in debitis necessitatibus corrupti nobis voluptate sit? Ipsum harum
	fugit odit assumenda rerum adipisci eius explicabo architecto.
</p>

<%- include('partials/footer') %>
